@import url('https://fonts.googleapis.com/css?family=Merriweather|Raleway&display=swap');

$maastrichiBlue:rgb(16, 70, 90);
$babyPowder:#FEFDF4 ;
$lightGreay:#CBF3F0;
$wenge:#605856;
// $metalicSeawed:rgb(60, 96, 114);
$metalicSeawed:rgb(70, 110, 131);
$error:red;
$headerFont:'Merriweather', Georgia, serif;
$bodyFont: 'Raleway', Arial, sans-serif;
